.globe
    z-index 100
    .path-sphere 
        fill #8087C4
    .path-country 
        fill #BCA8CC
    .marker 
        fill $white
        opacity 0.3
        stroke-width 2px solid $white
    &--desktop 
        position fixed 
        bottom 1rem
        left 1rem
        display none
        +mq('bp-5')
            display block