.globe
    .path-sphere 
        fill $primary
    .path-country 
        fill darken($bg, 15)
    .marker 
        fill $white
        opacity 0.3
        stroke-width 2px solid $white
    &--desktop 
        position fixed 
        bottom 1rem
        left 1rem
        display none
        +mq('bp-5')
            display block