.intro
	margin 0 auto
	padding 2rem 1rem 3rem 1rem
	text-align center
	order 1

	&__hed
		max-width 60rem
		margin 0 auto
		text-align center
		set-type-size('xxxxx-large')
		font-weight bold
		font-family $national
		display flex 
		flex-direction column
		&--welcome
			set-type-size('xx-large')
		
	&__dek
		max-width $column-width
		margin 0 auto
		margin-top 1rem
	
	&__byline
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
	
	&__time
		display block
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
		set-type-size('medium')
		font-family $national

	&__text 
		max-width $column-width
		margin 3rem auto 0

	.prose--big 
		padding 0 1rem
		margin 0 auto
		set-type-size('x-large')

