.modal 
    width 100vw 
    height 100vh
    background-color $off-black
    position fixed
    top 0
    z-index 100
    display flex 
    margin-top 3rem
    padding 1rem 2rem
    display flex 
    flex-direction column
    &.is-hidden
        display none
    &__quit 
        font-family $national-narrow
        set-type-size('root') 
        text-transform uppercase
        color $gray
        display flex 
        flex-direction row 
        align-items center
        margin-bottom 0.5rem
        pointer-events none
        p 
            margin 0
        svg 
            transform scale(0.7)

    &__content 
        display flex 
        flex-direction column-reverse
        max-width 50rem
        margin 0 auto
        &:mq('bp-5')
            flex-direction row
    &__video
        flex 2
        max-width 500px
        margin-right 2rem
        .modal__video--carousel
            display none 
            flex-direction row 
            justify-content space-between
            margin-top 2rem
            position relative
            +mq('bp-5')
                display flex 
            &.is-hidden 
                display none
            .g-carousel 
                position relative
                pointer-events all
                cursor pointer
            .carousel__display 
                max-width 225px
                filter saturate(0.4)
            .carousel__facility
                position absolute
                bottom 0
                left 0
                padding 0.25rem 
                background-color rgba($off-black, 0.75)
                color $white
                set-type-size('small')
                font-family $national-narrow


    &__info 
        flex 1
        font-family $national
        color $white
        h3 
            font-weight bold 
            text-transform capitalize
            set-type-size('xx-large')
            margin-top 0.25rem
        .modal__info-facility
            set-type-size('large')
            font-family $national-narrow
            margin 0.25rem 0
        .modal__info-help 
            text-transform uppercase
            set-type-size('small')
            margin-bottom 0
            font-weight bold

        ul 
            li, a
                font-family $national-narrow
                set-type-size('root')
                color $white
                visibility visible
                &.is-hidden 
                    visibility hidden

        .modal__info-fact 
            border-top 1px solid $white 
            padding 2rem 0 0 0
            margin-top 2rem
            display block 
            &.is-hidden
                display none
            .fact__intro 
                margin 0.25rem 0
                set-type-size('root')
            .fact__text 
                set-type-size('small')
            .fact__link, a
                set-type-size('small')
                color $white

    