.navigation
    position fixed 
    bottom 0
    background-color $off-black
    color $white
    width 100vw
    display flex 
    justify-content space-between
    padding 1rem 
    z-index 20
    p
        margin 0
        font-family $national-narrow