.navigation
    position fixed 
    bottom 0
    background-color transparent
    color $primary
    width 100vw
    display flex 
    justify-content space-between
    padding 1rem 
    z-index 2500
    max-height 150px
    overflow hidden
    +mq('bp-5')
        display none
    .navigation__container 
        position relative
        display flex 
        flex-direction row
        width 100%
    .globe 
        margin-left 1rem
        position fixed
        right 1rem
        width 102px
    .animal 
        display flex 
        flex-direction column
        width 66%
        padding-bottom 2rem

        .g-anno 
            opacity 0.3
            &.in-focus 
                opacity 1
            h3 
                font-weight bold 
                font-family $national
                text-transform capitalize
                set-type-size('large')
                margin-top 0.25rem
                pointer-events all

            ul 
                display flex 
                flex-direction row
                margin 0
                &.is-hidden 
                    display none 
                li
                    pointer-events all
                    set-type-size('small')
                    font-family $national-narrow
                    display flex 
                    align-items center
                    margin-right 0.5rem
                    font-weight normal
                    &.selected
                        font-weight bold 
                    .video--icon 
                        display none
                        margin-left 0.25rem
                        margin-right 0.5rem
                        transform scale(0.7)
                        opacity 1
                        fill $primary
                        &.is-hidden 
                            opacity 0