<div class='intro'>

	<h1 class='intro__hed'>
		<span class='intro__hed--welcome'>
			{{doc.welcome}}
		</span>
		<span class='intro__hed--name'>
			{{doc.title}}
		</span>

	</h1>
	<time class='intro__time'>{{{doc.update}}}</time>

	<div class='intro__text'>

		{{#each doc.intro}}
		<p class='prose'>{{{value}}}</p>
		{{/each}}
	</div>


</div>