<div class='intro'>
	<h1 class='intro__hed'>{{doc.title}}</h1>
	<time class='intro__time'>{{{doc.update}}}</time>

	<div class='intro__text'>
		{{#each doc.questions}}
		<p class='prose--big'>{{{value}}}</p>
		{{/each}}

		{{#each doc.intro}}
		<p class='prose'>{{{value}}}</p>
		{{/each}}
	</div>


</div>