<section class='map' data-js='arrangement'>
    <div class='islands' data-js='arrangement__islands'></div>
    <div class='globe globe--desktop' data-globe='desktop'><svg class='globe__svg--desktop'></svg></div>
    {{> story/nav }}
</section>