<section class='navigation' data-js='navigation'>
    <div class='navigation__container'>
        <div class='animal'></div>
        <div class='globe globe--mobile' data-globe='mobile'>
            <svg class='globe__svg--mobile'></svg>
        </div>
    </div>

</section>